<div class="recipe-container container-fluid content justify-content-between">
  <div class="recipe-edit">
    <%= simple_form_for (@recipe) do |f| %>
      <h3>Name:</h3>
      <%= f.input :name, label:false%>
      <h3>Zubreitung:</h3>
      <%= f.input :description, label:false %>
      <h3>Kategorie:</h3>
      <%= f.input :category, collection: ['Herzhaft', 'Süß'], label:false%>
      <div class="d-flex">
        <%= f.submit "Save changes", class: "btn-shadow" %>
        <%= link_to "Back", recipe_path(@recipe), class: "btn-shadow ml-3" %>
      </div>
    <% end %>
  </div>

  <div class="form-ingredient d-flex flex-column" style="text-align: left">
      <h3>Zutaten:</h3>
    <div class="all-ingredients d-flex flex-column  flex-wrap">
      <% if @recipe.ingredients.empty? == false %>
        <% @recipe.ingredients.each do |ingredient| %>
          <ul>
            <li><%= ingredient.dose %> <%= ingredient.unit %> - <%= ingredient.description %>  </li>
          </ul>
        <% end %>
      <% else %>
        <p> Bitte füge Zutaten zu dem Rezeot hinzu.</p>
      <% end %>

    </div>

    <div style="width: 500px">
    <h3>Neue Zutaten:</h3>
      <%= simple_form_for ([@recipe, @ingredient]) do |f| %>
      <div class="d-flex">
        <%= f.input :dose, placeholder: 'z.B. 100', label:false%>
        <%= f.input :unit , placeholder: 'gr', label:false%>
        <%= f.input :description, placeholder: 'Zucker', label:false %>
        <%= f.submit "+", class: "btn-shadow-small" %>

      </div>
      <% end %>
    </div>
  </div>

</div>


