<div class="base-container">
  <div class="content-container">
    <div class="recipe-container container-fluid content justify-content-between">
      <div class="recipe-edit">
        <%= simple_form_for (@recipe) do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
          <%= f.input :category, collection: ['Herzhaft', 'Süß']%>
          <div class="d-flex">
            <%= f.submit "Änderungen speichern", class: "btn-shadow" %>
            <%= link_to "Zurück", recipe_path(@recipe), class: "btn-shadow ml-3" %>
            <%= link_to recipe_path(@recipe),
                  method: :delete,
                  data: { confirm: "Bist du dir sicher?" } do %>
                  <i class="fas fa-trash" style="font-size: 10px"></i>
                <% end %>
          </div>
        <% end %>
      </div>

      <div class="form-ingredient d-flex flex-column" style="text-align: left">
          <h3>Zutaten:</h3>
        <div class="all-ingredients d-flex flex-column  flex-wrap">
          <% if @recipe.ingredients.empty? == false %>
            <% @recipe.ingredients.each do |ingredient| %>
              <ul style="list-style-type:none; padding-left: 0;">
                 <li>
                 <%= link_to recipe_ingredient_path(ingredient),
                  method: :delete,
                  data: { confirm: "Bist du dir sicher?" } do %>
                  <i class="fas fa-trash" style="font-size: 10px"></i>
                <% end %>
               <%= ingredient.dose %> <%= ingredient.unit %> - <%= ingredient.description %>
              </ul>
            <% end %>
          <% else %>
            <p> Bitte füge Zutaten zu dem Rezept hinzu.</p>
          <% end %>

        </div>

        <div style="width: 500px">
        <h3>Neue Zutat hinzufügen:</h3>
          <%= simple_form_for ([@recipe, @ingredient]) do |f| %>
          <div class="d-flex">
            <%= f.input :dose, placeholder: 'z.B. 100', label:false%>
            <%= f.input :unit , placeholder: 'gr', label:false%>
            <%= f.input :description, placeholder: 'Zucker', label:false %>
            <%= f.submit "+", class: "btn-shadow-small" %>

          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  </div>


