<h1>Edit specific Recipe</h1>

<%= simple_form_for (@recipe) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: ['savory', 'sweet']%>
  <%= f.input :photo %>
  <%= f.input :photo_attachment, as: :hidden %>
  <%= f.submit "add recipe", class: "btn btn-outline-secondary" %>
<% end %>
