<div class="base-container">
  <div class="content-container">
    <div class="recipe-container container-fluid content justify-content-between">
      <div class="recipe-edit">
        <%= simple_form_for (@recipe) do |f| %>
          <%= f.input :name %>
          <div class="d-flex">
            <%= f.input :serving, placeholder: 'z.B. 2', label:false%>
            <%= f.input :quantity, collection: ['Portionen', 'Stück'], label:false, selected: 1%>
            <%= f.input :category, collection: ['Herzhaft', 'Süß'], label:false, selected: 2%>
          </div>
            <%= f.input :photo, as: :file, label: false %>
        <div class="d-flex align-items-center">
          <%= link_to "Zurück", recipe_path(@recipe), class: "btn-shadow ml-3" %>
          <%= f.submit "Weiter", class: "btn-shadow" %>
          </div>
        <% end %>
    </div>
  </div>
</div>


