<div class="base-container">
  <div class="content-container">
    <div class="recipe-container container-fluid content justify-content-between">
      <div class="recipe-edit">
        <%= simple_form_for (@recipe) do |f| %>
          <%= f.input :name %>
          <div class="d-flex">
            <%= f.input :serving, placeholder: 'z.B. 2', label:false%>
            <%= f.input :quantity, collection: ['Portionen', 'Stück'], label:false, selected: 1%>
            <%= f.input :category, collection: ['Herzhaft', 'Süß'], label:false, selected: 2%>
          </div>
            <%= f.input :photo, as: :file, label: false %>

          <div class="d-flex align-items-center">
            <%= f.submit "Änderungen speichern", class: "btn-shadow" %>
            <%= link_to "Zurück", recipe_path(@recipe), class: "btn-shadow ml-3" %>
            <%= link_to recipe_path(@recipe),
                  method: :delete,
                  data: { confirm: "Bist du dir sicher?" } do %>
                  <i class="fas fa-trash" style="font-size: 10px"></i>
                <% end %>
          </div>
          <% end %>


          <h3>Zubereitung</h3>
          <% count = 0 %>
          <% @recipe.step_ids.each do |step| %>
            <% count += 1 %>
             <div class="step-card"id="step-<%= step %>">
                <div class="d-flex">
                  <div class="step-icon" style="position: relative;">
                    <div class="icon">
                      <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1588574765/icon_nkwwtg.png") %>
                    </div>
                    <div class="step-id">
                      <%=count%>
                    </div>
                  </div>
                  <div class="step-content">
                    <%= Step.find(step).content %>
                  </div>
                  <%= render 'shared/edit_step', recipe: @recipe, step: step %>
                  <%= render 'shared/delete_step', recipe: @recipe, step: step %>
                </div>
            </div>
            <div class="collapse" id="collapseEditStep<%= step %>">
              <div class="card card-body" style="margin-left: 25px; border: 0">
                <%= render 'shared/steps', recipe: @recipe, step: step %>
              </div>
            </div>
          <% end %>

          <div>
            <%= render 'shared/add_step'%>
          </div>

      <div class="form-ingredient d-flex flex-column" style="text-align: left">
        <h3>Zutaten:</h3>
        <div class="all-ingredients d-flex flex-column  flex-wrap">
          <% if @recipe.ingredients.empty? == false %>
            <% @recipe.ingredients.each do |ingredient| %>
              <ul style="list-style-type:none; padding-left: 0;">
                 <li>
                 <%= link_to recipe_ingredient_path(ingredient),
                  method: :delete,
                  data: { confirm: "Bist du dir sicher?" } do %>
                  <i class="fas fa-trash" style="font-size: 10px"></i>
                <% end %>
               <%= ingredient.dose %> <%= ingredient.unit %> - <%= ingredient.description %>
              </ul>
            <% end %>
          <% else %>
            <p> Bitte füge Zutaten zu dem Rezept hinzu.</p>
          <% end %>

        </div>

        <div style="width: 500px">
        <h3>Neue Zutat hinzufügen:</h3>
          <%= simple_form_for ([@recipe, @ingredient]) do |f| %>
          <div class="d-flex">
            <%= f.input :dose, placeholder: 'z.B. 100', label:false%>
            <%= f.input :unit , placeholder: 'gr', label:false%>
            <%= f.input :description, placeholder: 'Zucker', label:false %>
            <%= f.submit "+", class: "btn-shadow-small" %>

          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  </div>


