<div class="base-container">

  <div class="content-container">
    <div class="recipe-show-banner">
      <div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path @recipe.photo.key%>)'>
      <div class="d-flex flex-column align-items-center">
        <%= @recipe.name %>
          <div class="btn-category d-flex justify-content-center" style="font-size: 15px">
            <%= @recipe.category %>
          </div>

      </div>
      </div>
    </div>



    <div class="recipe-container d-flex justify-content-between">

      <div class="tags d-flex justify-content-between">
        <div class="flex-grow-1">
        </div>
        <%= link_to edit_recipe_path(@recipe) do %>
         <i class="fas fa-pen"> Rezept bearbeiten</i>
        <% end %>
        <%= link_to recipe_path(@recipe),
                  method: :delete,
                  data: { confirm: "Are you sure?" } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>

      <div class=" container-fluid content d-flex flex-wrap">
        <div class="recipe-ingredients mb-3">
          <h3>Zutaten:</h3>
          <% if @recipe.ingredients.empty? == false %>
            <% @recipe.ingredients.each do |ingredient| %>
              <ul>
                <li><%= ingredient.dose %> <%= ingredient.unit %> - <%= ingredient.description %>  </li>
              </ul>
            <% end %>
          <% else %>
            <span> Bitte füge Zutaten zu dem Rezept hinzu.</span>
          <% end %>

        </div>
        <div class="description">
        <h3>Zubereitung:</h3>
        <% if @recipe.description.nil? == false %>
          <%= @recipe.description %>
        <% else %>
          <span> Da fehlt doch was - bitte füge eine Beschreibung der Zubereitung hinzu. </span>
        <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

