<div class="recipe-base-container">

  <div class="content-container">
    <div class="recipe-show-banner">
      <div class="user-info">
            <span style="font-weight: normal"> von </span>
            <%= link_to @user.username, '#'%>
      </div>
      <% if @recipe.photo.attached? %>
      <div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=cl_image_path @recipe.photo.key%>)'>
        <% else %>
        <div class='card-category' style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)))'>
          <% end %>
          <div class="d-flex flex-column align-items-center">
            <%= @recipe.name %>
            <div class="btn-category d-flex justify-content-center" style="font-size: 15px">
              <%= @recipe.category %>
            </div>
          </div>
        </div>
      </div>


      <div class="tags d-flex justify-content-between">
        <div class="flex-grow-1">
        </div>
        <%= link_to edit_recipe_path(@recipe) do %>
        <i class="fas fa-pen"></i>
        <% end %>
        <%= link_to recipe_path(@recipe),
        method: :delete,
        data: { confirm: "Bist du sicher?" } do %>
        <i class="fas fa-trash"></i>
        <% end %>
      </div>

      <div class="recipe-container d-flex justify-content-between">
        <div class="row">
          <div class="col-lg-5 col-sm-12">
            <div class="recipe-ingredients">
              <% if @recipe.ingredients.empty? == false %>
              <h3>Zutaten: </h3>
              <div class="d-flex mb-3">
                <p>
                  für <span class="servings" style="font-weight: bolder; font-size: 18px"> <%= @recipe.serving %></span>
                  <%= @recipe.quantity %>
                </p>
                <div class="btn-small" id="plus">
                  <p>+</p>
                </div>
                <div class="btn-small" id="minus">
                  <p>-</p>
                </div>
              </div>
              <% @recipe.ingredients.each do |ingredient| %>
              <ul>
                <li>
                  <span class="amount-ingredient" style="font-weight: bolder"><%= ingredient.dose %></span> <%= ingredient.unit %> - <%= ingredient.description %>  </li>
                </li>
              </ul>
              <% end %>
              <% else %>
              <h3>Zutaten: </h3>
              <span> Bitte füge Zutaten zu dem Rezept hinzu.</span>
              <% end %>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12">

            <div class="description">
              <h3>Zubereitung:</h3>
              <% if @recipe.step_ids.empty? == false %>
              <% count = 0 %>
              <% @recipe.step_ids.each do |step| %>
              <% count += 1 %>
              <div class="step-card"id="step-<%= step %>">
                <div class="d-flex">
                  <div class="step-icon" style="position: relative;">
                    <div class="icon">
                      <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1588574765/icon_nkwwtg.png") %>
                    </div>
                    <div class="step-id">
                      <%=count%>
                    </div>
                  </div>
                  <div class="step-content">
                    <%= Step.find(step).content %>
                  </div>
                </div>
                <% end %>
              </div>
              <% else %>
              <p>
                Da fehlt doch etwas - bitte füge eine Beschreibung der Zubereitung hinzu.
              </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

