<h1>Show specific Recipe</h1>

<%= @recipe.name %>

<% @recipe.ingredients.each do |ingredient| %>
  <%= ingredient.description %>
  <%= ingredient.dose %>
  <%= ingredient.unit %>
  <% end %>

 <div class="form-dose" style="text-align: left">
        <h3>Add a new ingredient</h3>
        <div style="width: 500px">
          <%= simple_form_for ([@recipe, @ingredient]) do |f| %>
           <%= f.input :description%>
           <%= f.input :dose %>
           <%= f.input :unit %>
            <%= f.submit "Add ingredient", class: "btn-shadow" %>
          <% end %>
        </div>
      </div>
