<%= simple_form_for ([@recipe, @ingredient]) do |f| %>
<div class="details-one d-flex">
  <div class="d-flex">
    <%= f.input :dose, placeholder: 'z.B. 100', label:false%>
    <%= f.input :unit , placeholder: 'gr', label:false%>
  </div>
  <%= f.input :description, placeholder: 'Zucker', label:false %>
  <%= f.submit "+", class: "btn-shadow-small" %>
</div>
<% end %>
