<div class="base-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 justify-content-md-center" style="background-color: white">
      <div class="progress">
        <div class="progress-track"></div>
        <div id="step1" class="progress-step is-complete">
          Rezept Details
        </div>
        <div id="step2" class="progress-step is-complete">
          Zutaten
        </div>
        <div id="step3" class="progress-step">
          Zubereitung
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center" id="form-container">
    <div class="col-lg-6 col-md-8 col-sm-12" style="background-color: white">
      <div class="ingredient-container mb-3">
        <% if @recipe.ingredients.empty? == false %>
        <% @recipe.ingredients.each do |ingredient| %>
        <ul>
          <li>
            <div class="d-flex">
              <%= ingredient.dose %> <%= ingredient.unit %> - <%= ingredient.description %>
              <%= render 'shared/delete_ingredient', recipe: @recipe, ingredient: ingredient %>
            </div>
          </li>
        </ul>
        <% end %>
        <% else %>
        <p> Bitte füge Zutaten zu dem Rezept hinzu.</p>
        <% end %>
      </div>
      <div class="collapsable-form">
        <%= render 'shared/add_ingredient'%>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 d-flex justify-content-between" style="background-color: white">
      <%= link_to "Zurück", edit_recipe_path(@recipe), class: "btn-shadow ml-3", id:"back"%>
      <%= link_to "Weiter", new_recipe_step_path(@recipe), class: "btn-shadow ml-3", id: "next"%>
    </div>
  </div>
</div>

