<div class="recipe-base-container">

  <div class="content-container">
    <div class="user-profile-info">
      <div class="profile-pic">
        <%= cl_image_tag @user.photo %>
      </div>
      <div class="profile-info">
        <%= @user.username %>
        <p>Veröffentlichte Rezepte (<%=@userPublishedRecipes.count%>) <p>
        </div>
      </div>
      <div class="user-recipes">
        <div class="recipe-card-container">
          <%  @userPublishedRecipes.each do |recipe| %>
          <%= link_to recipe_path(recipe), class: 'go-away-url' do %>
          <div class="recipe-card">
            <div class="recipe-card-img-top">
              <% if recipe.photo.attached? %>
              <%= cl_image_tag recipe.photo.key, crop: :fill, id: "index-recipe" %>
              <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1588505411/Rectangle_ttmqdc.png", id: "index-recipe") %>
              <% end %>
            </div>
            <div class="recipe-card-body">
              <% if recipe.name.length <= 15 %>
              <%= link_to recipe.name, recipe_path(recipe) %>
              <% else %>
              <%= link_to recipe.name[0..15], recipe_path(recipe) %>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
