<div class="base-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
      <div class="user-profile-info">
        <div class="profile-pic d-flex justify-content-center">
          <%#= cl_image_url @user.photo.key %>
          <div class="default-img">
            <%= @user.username[0] %>
          </div>
        </div>
        <div class="profile-info">
          <%= @user.username %>
          <p>Veröffentlichte Rezepte (<%=@userPublishedRecipes.count%>) </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-8 col-sm-12 justify-content-md-center">
      <div class="user-recipes">
        <div class="recipe-card-container">
          <%  @userPublishedRecipes.each do |recipe| %>
          <%= link_to recipe_path(recipe), class: 'go-away-url' do %>
          <div class="recipe-card">
            <div class="recipe-card-img-top">
              <% if recipe.photo.attached? %>
              <%= cl_image_tag recipe.photo.key, crop: :fill, id: "index-recipe" %>
              <% else %>
              <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1588505411/Rectangle_ttmqdc.png", id: "index-recipe") %>
              <% end %>
            </div>
            <div class="recipe-card-body">
              <% if recipe.name.length <= 22 %>
              <%= link_to recipe.name, recipe_path(recipe) %>
              <% else %>
              <%= link_to recipe.name[0..22], recipe_path(recipe) %>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>

