<div class="base-container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 justify-content-md-center" style="background-color: white">
      <div class="progress">
        <div class="progress-track"></div>
        <div id="step1" class="progress-step is-complete">
          Rezept Details
        </div>
        <div id="step2" class="progress-step is-complete">
          Zutaten
        </div>
        <div id="step3" class="progress-step is-complete">
          Zubereitung
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12" style="background-color: white">
      <div class="prep-container">
        <% if !@recipe.step_ids.empty? %>
          <% count = 0 %>
          <% @recipe.step_ids.each do |step| %>
          <% count += 1 %>
          <div class="step-card"id="step-<%= step %>">
            <div class="d-flex">
              <div class="step-icon" style="position: relative;">
                <div class="icon">
                  <%= cl_image_tag("https://res.cloudinary.com/siggimsiggi/image/upload/v1588574765/icon_nkwwtg.png") %>
                </div>
                <div class="step-id">
                  <%=count%>
                </div>
              </div>
              <div class="step-content">
                <%= Step.find(step).content %>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <%= render 'shared/edit_step', recipe: @recipe, step: step %>
              <%= render 'shared/delete_step', recipe: @recipe, step: step %>

            </div>
          </div>
          <div class="collapse" id="collapseEditStep<%= step %>">
            <div class="card card-body" style="margin-left: 25px; border: 0">
              <%= render 'shared/steps', recipe: @recipe, step: step %>
            </div>
          </div>
          <% end %>
        <% else %>
         <p> Bitte füge Zutaten zu dem Rezept hinzu.</p>
         <% end %>

        <div>
          <%= render 'shared/add_step'%>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-6 col-md-8 col-sm-12 d-flex justify-content-between" style="background-color: white">
      <%= link_to "Zurück", new_recipe_ingredient_path(@recipe), class: "btn-shadow ml-3", id:"back"%>
      <%= link_to "Fertig", recipe_path(@recipe), class: "btn-shadow ml-3", id:"next"%>
    </div>
  </div>
</div>
